@model IEnumerable<NewsAppMVC.Articulo>

@{
    ViewData["Title"] = "Index";
}


<div style="margin-left:-115px; margin-right:-115px">
    <table class="table table-striped table-hover table-sm ">
        <thead>
            <tr>
                <th>
                    <p class="text-center">AUTOR</p>
                </th>
                <th>
                    <p class="text-center">TITLE</p>
                </th>

                <th>
                    <p class="text-center">IMAGE AND DATE</p>
                </th>

                <th>
                    <p class="text-center">CONTENT</p>
                </th>
                <th>
                    <p class="text-center">CATEGORY</p>
                </th>
                <th>
                    <p class="text-center">SOURCE</p>
                </th>
                <th>
                    <p class="text-center">TOOLS</p>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

                <td>
                    <img src="@Url.Content(item.ImagenUrl)" style="width: 10rem; " alt="" />
                    <b>@Html.DisplayFor(modelItem => item.FechaPublicacion)</b>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Contenido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.NombreCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdFuenteNavigation.NombreFuente)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdArticulo" class="btn btn-outline-primary" style="width: 5rem; ">EDIT</a><br />
                    <a asp-action="Details" asp-route-id="@item.IdArticulo" class="btn btn-outline-success mt-2" style="width: 5rem;">DETAILS</a><br />
                    <a asp-action="Delete" asp-route-id="@item.IdArticulo" class="btn btn-outline-danger mt-2" style="width: 5rem;">DELETE</a>
                </td>
               
            </tr>
            }
        </tbody>
    </table>
</div>


