@page
@model NewsAppRazorPage.Pages.ArticlesNewsModel

@{
    ViewData["Title"] = "ArticlesNews";
}


<div class="d-flex align-items-center">

</div>

@*<div>
        <form method="get">

            <input name="Search" value="@ViewData["search"]" style="width: 70rem"/>
            <button class="btn btn-primary"  type="submit">SEARCH</button>
        </form>
        <p>SEARCH BY TITLE</p>
    </div>*@



<div class="row">
    @foreach (var item in Model.Articulo)
    {
        <div class="col-md-4">
            <div class="col-sm-2">
                <div class="card card-body mt-5 form-group card border-success mb-3" style="width: 22rem; ">
                    <img src="@Url.Content(item.ImagenUrl)" alt="" />
                    <div class="card-mb-3">
                        <div class="card-body form-group">
                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h6>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Contenido)</p>
                        </div>
                        <div>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.FechaPublicacion) </p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Autor) </p>
                            <a href="@Html.DisplayFor(modelItem => item.ArticuloUrl)" class="btn btn-outline-success my-2 my-sm-0">Show More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

